.rover-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border:0;
}

.rover-button {
  display: block;
  color: black;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  background-color: rgba(134, 134, 134, 0.349);
  float:left;
  width: 213px;
  font-size: large;
  font-family: fantasy;
  border: 0;
}

.rover-button:hover {

  background-color: rgb(252, 113, 0);

}