.mars-app {
  text-align: center;
}

.page-heading {
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
}

.page-nav-button{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 30px 16px;
  margin: 0px auto;
  text-decoration: none;
  background-color: powderblue;
  width: 400px;
  font-size: large;
  font-family: fantasy;
}

.page-nav-button:hover{
 background-color: cornflowerblue;
}
