html { 
  background: url('../assets/images/background.jfif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mars-app {
  text-align: center;
}

.page-heading {
  background: url("../assets/images/heading_background.jpg") -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 10px;
  font-size: 50px;
  font-family: fantasy, sans-serif, cursive;
  letter-spacing: 2px;
  margin: 50px auto 50px auto;
  text-align: center;
  display: inline-block; 
}

.page-nav-button{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 30px 16px;
  margin: 30px auto;
  text-decoration: none;
  background-color: rgba(71, 71, 71, 0.4);
  width: 400px;
  font-size: large;
  font-family: fantasy;
  margin: 10px auto;
}

.page-nav-button:hover{
  background-color: rgba(100, 148, 237, 0.664);
}
