.mars-app {
  text-align: center;
}

.page-heading {
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
}

.page-nav-button{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  background-color: powderblue;
  width: 400px;
  font-size: large;
  font-family: fantasy;
}

.page-nav-button:hover{
 background-color: cornflowerblue;
}

.loader-center{
  padding: 400px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loader-center img{
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}
