.mars-app {
  text-align: center;
  background-image: url('../assets/images/background.jfif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
}

.page-heading {
  background: url("../assets/images/heading_background.jpg") -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 10px;
  font-size: 50px;
  font-family: fantasy, sans-serif, cursive;
  letter-spacing: 2px;
  margin: 50px auto 50px auto;
  text-align: center;
  display: inline-block; 
}

.page-nav-button{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 30px 16px;
  margin: 30px auto;
  text-decoration: none;
  background-color: rgba(71, 71, 71, 0.4);
  width: 400px;
  font-size: large;
  font-family: fantasy, sans-serif, cursive;
}

.page-nav-button:hover{
  background-color: rgba(228, 228, 228, 0.4);
}
