.homepage-container {
  text-align: center;
  display: inline-block;
  width: 400px;
}

.weather-block {
  text-align: center;
  display: inline-block;
}

.photo-block{
  text-align: center;
  display: inline-block;
}

.homepage-photo {
  padding: 50px 0;
}

.homepage-photo img{
  width: 400px;
}

.homepage-photo p{
  font-size: small;
  text-align: center;
  vertical-align: center;
  background-color: ivory;
}