.homepage-container {
  text-align: center;
  display: inline-block;
  width: 80%;
}

.weather-block {
  text-align: center;
  display: block;
}

.photo-block{
  text-align: center;
  display: block;
}

.homepage-photo{
  width: 400px;
  margin: 0px auto;
  display: block;
}

.temperatureElement {
  display: inline-block;
  padding: 0px 15px;
}

.pressureElement {
  display: inline-block;
  padding: 0px 15px;
}

.windElement {
  display: inline-block;
  padding: 0px 15px;
}