.weather-column {
  display: inline-block;
}

.weather-cell {
  border: 1px solid black;
  min-height: 25px;
}

.temperature-cell {
  border: 1px solid black;
  min-height: 25px;
  background-color: rgba(255, 255, 255, 0.459);
}

.wind-cell {
  border: 1px solid black;
  min-height: 220px;
  min-width: 150px;
  background-color: rgba(255, 255, 255, 0.459);

}

.compass-photo {
  display: inline-block;
  right: 0px;
  max-width:60px;
  max-height:60px;
  width: auto;
  height: auto;
}

.pressure-cell {
  border: 1px solid black;
  min-height: 25px;
  background-color: rgba(255, 255, 255, 0.459);
}

